body{
    background-image: url(../img/volume-resume-graphique-solitude-bureau_1258-258.jpg);

}
.text-center{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}